<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.mapper.DepartmentMapper">

    <select id="list" resultType="DepartmentVO">
        select d.department_id,d.department_name,d.parent_id,d.chairman,d.remark,d1.department_id 'department.departmentId',d1.department_name 'department.departmentName' from department d left join department d1 on d.parent_id = d1.department_id
    </select>
</mapper>
